ul{
  list-style: none;
  width: 150px;
  margin:auto;
  text-align: center;
}
.img-cont{
  border-radius: 50%;
  max-width: 100px;
  margin:auto;
}
.img-cont img{
    border-radius: 50%;
  width: 100%;
  height: 100%;
}
.hot-name{
    border: 1px solid #85e4c5;
    background: #e7f7f2;
}