body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*user hp bar*/
.center{
	text-align: center;
	position: absolute;
	top:20px;
	right: 20px;
}
.start-button{
	display: block;
	border: none;
    padding: 5px 20px; 
    margin: auto;
}
.absolute-dead{
	position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: black;
    opacity: 0.999
}
.absolute-container{
	position: relative;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    top: 40%;
    text-align: center
}
.absolute-dead span {
	font-size: 35px;
    display: block;
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
}
.absolute-dead button{
	border:none;
	background: #c9ccc9;
	padding: 10px 20px;
}
.user-hp{
	display: inline-block;
	padding: 2px 20px;
	background: #059230;
	color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}
.main{
	border: 2px solid black;
	padding: 20px;
	max-width: 900px;
	margin:auto;
	position: relative;
}
.mag-menu{
    padding: 20px 10px 20px 20px;
    background: rgba(255, 255, 203, 0.26);	
}
object
.object-damage{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 20px;
}
.blood-rage{
	position: relative;
}
.blood-img{
	position: absolute;
    top: -17px;
    left: -17px;
}
.damage{
    position: absolute;
    left: 164px;
    top: 46px;
 	font-style: italic;
    padding: 1px 22px;
}
.yellow{
	color: orange;
    font-size: 24px;
    font-weight: bold;
}
.red{
	color: red;
    font-size: 30px;
    font-weight: bold;
}
.hp-bar{
	background: green;
	text-align:center;
	color:white
}
.name{
	text-align: center
}
.obj-npc{
	margin-bottom: 10px;
	border: 13px solid #155808;
    padding: 20px 50px;
    width: 100px;
    display: inline-block;
    margin-top: 40px;
}
.obj-npc img{
	width: 100%;
}
/*color of hp bar*/
.whitegreen-hp{
	text-align:center;
	color:white;
	background:#60b530
}
.yellow-hp{
	text-align:center;
	color:white;
	background: #d4c11f
}
.red-hp{
	text-align:center;
	color:white;
	background: #d41f1f
}
/*****pot of coin*******/
.container{
	position: relative;
}
.gold-container{
	display: inline-block;
    position: absolute;
    top: -160px;
    left: 300px;
}
.gold-count{
	font-size: 22px;
	color: gold;
	font-weight: bold;
	text-align: center;
}
.coin{
	margin:0 auto;
	width: 15px;
}
.coin{
	margin:0 auto;
	width: 15px;
}
.coin{
	margin:0 auto;
	width: 15px;
}
.coin{
	margin:0 auto;
	width: 15px;
}
.coin{
	margin:0 auto;
	width: 15px;
}
.coin{
	margin:0 auto;
	width: 15px;
}

.coin img{
	width: 100%;
	position: relative;
	top:-40px;
	-webkit-animation:pot 2s infinite linear;
	        animation:pot 2s infinite linear;
}
.pot{
	width: 100px;
}
.pot img{z
	width: 100%;
}
@-webkit-keyframes pot {
	0% {
	opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes pot {
	0% {
	opacity: 0;
	}
	20%{
		opacity: 0.6;
		top:-30px;
	}
	40%{
		opacity: 1;
		top:-20px;
	}
	60%{
		opacity: 1;
		top:-10px;
	}
	80%{
		opacity: 0.6;
		top:0px;
	}
	100%{
		opacity: 0;
	}
}
.hide-coin{
	color: gold;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	right: -20px;

}
/*MAGAAAZ*/
.section{
	position: relative;
}
.action{
	position: absolute;
	top:0;
	right: 10px;
	border: none;
	padding: 5px 20px;
}
